@charset "UTF-8";
$hintergrundfarbe: #2C2C29;
$Raender: #1f1f1d;
$helleSchrift: #fff;
$blau: #008CED;
* {
  margin: 0;
  padding: 0;
}

// **********************************************************
// *****                                                *****
// *****Todos:                                          *****
// **********************************************************
// TODO: größen in em ändern
// TODO: viewports anlegen


body,
html {

  width: 100%;
  height: 100%;
  }

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 30vh;
  background:url(/projekte/lernseite/_bilder/header.jpg) center center/cover;

  >h1 {
    padding: 0 auto;
  }
  >figure {
    display: block;
    position: absolute;
    
    top: 0;
    right: 0;
    >img {
      width: 5em;
      height: 5em;
    }
  }

  nav {
    display: inline-block;
    transition: all 500ms ease;
    background: $hintergrundfarbe;
    // width: auto;
    position: absolute;
    top: 0.1em;
    left: -100vw;
    ul {
      margin: 0;
      padding: 0;
      li:first-of-type {
        background: $blau;
        height: 12em;
        img{
          display: block;
          float: left;
          height: 5em;
          width: 5em;
          padding: 3.5em 2em 3.5em 2em;
          }
        >p {
          padding: 1.5em 0;
          font-size: 3em;
        }  
          
      }
      li {
        padding: 9px 30px;
        text-align: center;
        list-style-type: none;
        border-bottom: 1px solid $Raender;
        color: $helleSchrift;
        a {
          // padding: 100%;
          display: block;
          font-size: 6em;
          width: 100%;
          text-align: center;
          text-decoration: none;
          color: $helleSchrift;
        }
      }
    }
  }
}

nav.gf_active_menu {
  left: 0;
  z-index: 1;
}

section {
  // z-index: 1;
  width: 90%;
  height: 50vh;
  margin: 90px auto;
  background: rgb(134, 254, 181);
  position: relative;
  border: 1px solid black;
  transition: all 200ms;
  div#gf_button {
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    background: #111;
    transition: all 200ms;
    font-size: 20px;
    color: #fff;
  }
  .gf_active {
    background: #f60;
  }
  div {
    background: #000;
    border: 2px solid #ff6600;
    padding: 20px;
    color: #fff;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
}

/* Ansicht für Tablets */

@media screen and (min-width:38.75em){
  figure {
    visibility: hidden;
  }

  nav {
    display: inline;
    left: 0;
  }

}

  /* Ansicht für Desktop-Monitore */

@media screen and (min-width:45em) {}