@charset "UTF-8";
$hintergrundfarbe: #2C2C29;
$Raender: #1f1f1d;
$helleSchrift: #fff;
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // background: rgb(138, 109, 236);
}

header {

  figure {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  nav {
    // z-index: 1000000;
    background: $hintergrundfarbe;
    width: 70vw;
    // z-index: 100;
    position: absolute;
    top: 0;
    left: -50vw;
    ul {
      li {
        text-align: center;
        // width: 100%;
        list-style-type: none;
        background: $hintergrundfarbe;
        border-bottom: 1px solid $Raender;
        color: $helleSchrift;
        // .gf_zu {
        //   color: $helleSchrift;
        // }
        a {
          // width: 100%;
          text-decoration: none;
          color: $helleSchrift;
        }
      }
    }
  }
}

section {
  z-index: 1;
  width: 90%;
  height: 50vh;
  margin: 20px auto;
  background: rgb(134, 254, 181);
  position: relative;
  border: 1px solid black;
  transition: all 200ms;
  div#gf_button {
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    background: #111;
    transition: all 200ms;
    font-size: 20px;
    color: #fff;
  }
  .gf_active {
    background: #f60;
  }
  div {
    background: #000;
    border: 2px solid #ff6600;
    padding: 20px;
    color: #fff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
}